*~
.*~
.DS_Store
traces
notebooks
*.txt
*.pyc
*.so
*old*
*Old*
!examples/snake-data.txt
!examples/snake-map.txt
!test/data.txt
!test/map.txt
sims
build
dist
*.egg-info
README.ipynb
.ipynb_checkpoints
!.travis.yml
